{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Chat{% endblock title %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    {% block extra_css %}{% endblock %}
</head>
<body>
   

    <!-- Main Content -->
    {% block content %}{% endblock content %}

    <!-- Footer -->
    {% comment %} <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">  {% now "Y" %} Django Chat. All rights reserved.</span>
        </div>
    </footer> {% endcomment %}

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>